/* App.css */

body {
  margin: 0;
  padding: 0;
  background: url('football.jpg') center/cover no-repeat fixed;
  font-family: 'Arial', sans-serif;
}

.aiulogo {
  background: url('logo_aiu.png') center;
  width: 150px;
  height: 150px;
}

.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.login-form input {
  padding: 10px;
  width: 200px; /* Увеличьте ширину полей ввода */
}

.login-form button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4caf50; /* Зеленый цвет кнопки */
  color: #fff; /* Белый цвет текста на кнопке */
  border: none;
  border-radius: 5px;
}

.login-form button:hover {
  background-color: #45a049; /* Зеленый цвет кнопки при наведении курсора */
}

.calendar-container {
  margin-bottom: 20px;
}

.calendar-day-highlight {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: auto;
}

.yellow-bg {
  background-color: #ffe066; /* Желтый фон для подсветки календарных дней */
}

.red-bg {
  background-color: #ff6666; /* Красный фон для подсветки календарных дней */
}

.time-slots-container {
  max-width: 600px;
  margin: 0 auto;
}

.book-slot-button,
.cancel-booking-button {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.booked-slot {
  background-color: none; /* Светло-серый фон для забронированных слотов */
}

.booked-text {
  color: #ff0000; /* Красный цвет для текста о забронированных слотах */
}

.toast-success {
  background-color: #66bb6a; /* Зеленый фон для успешного уведомления */
}

.toast-error {
  background-color: #ef5350; /* Красный фон для уведомления об ошибке */
}

.toast-info {
  background-color: #29b6f6; /* Синий фон для информационного уведомления */
}
